if (!session.isLoggedIn)
	form(method="post", action="/login", enctype='application/x-www-form-urlencoded')
		ul.right
			li.has-form
				label(for='email') Email
			li.has-form
					input#email(name='email', type='text')
			li.has-form
				label(for='pass') Password
			li.has-form
					input#password(name='pass', type='password')
			li.has-form
					input.button(type='submit', value='Login')
					if invalid
						small.error Please enter valid details
else
	ul.right
		li.has-form
			a.alert.button.expand(href='/logout', value='Logout') Logout
