nav.top-bar(data-topbar='data-topbar')
	ul.title-area
		li.name
		li.toggle-topbar.menu-icon
			a(href='')
				span Admin
	section.top-bar-section
		include ./../users/login
		if (session.isLoggedIn)
			ul.right
				li.has-dropdown
					a(href='javascript: void(0)') Posts
					ul.dropdown
						li
							a(href='/posts?status=T') Trashed
						li
							a(href='/posts?status=U') Under construction
						li
							a(href='/posts?status=Y') Displayed
				li.has-form
					a.button.expand(href='/posts/new', value='New Post') New Post
