nav.top-bar(data-topbar='data-topbar')
	ul.title-area
		li.name
		li.toggle-topbar.menu-icon
			a(href='')
				span Admin
	section.top-bar-section
		include ./../users/login
		if (session.isLoggedIn)
			ul.right
				li.has-dropdown
					a(href='javascript: void(0)') Posts
					ul.dropdown
						- for (var state in infoStatus) {
							li
								a(href="/posts?status=#{state}")= infoStatus[state]
						- }
				li.has-form
					a.button.expand(href='/posts/new', value='New Post') New Post
