.row
	section(role='main')
		#post.row
			.eight.columns
				h1 Find me at
				ul.inline-list
					li
						a.webicon.github.large(href='https://github.com/pasupulaphani') Github
					li
						a.webicon.linkedin.large(href='http://www.linkedin.com/pub/phaninder-pasupula/2b/4a0/aab') Linkedin
					li
						a.webicon.facebook.large(href='#') Facebook
					li
						a.webicon.twitter.large(href='http://twitter.com/pasupulaphani') Twitter
include ./footer
include ./foot