.row
	section(role='findme')
		#findme.row
			.large-8.columns
				h1 Find me at
				ul#findmeicons.inline-list
					li
						a.webicon.github(target="_blank", href='https://github.com/pasupulaphani') Github
					li
						a.webicon.linkedin(target="_blank", href='http://www.linkedin.com/pub/phaninder-pasupula/2b/4a0/aab') Linkedin
					li
						a.webicon.facebook(target="_blank", href='https://www.facebook.com/pasupulaphani') Facebook
					li
						a.webicon.twitter(target="_blank", href='http://twitter.com/pasupulaphani') Twitter
include ./footer
include ./foot