if (mode === "dev")
	// this is to make static loc "public/js/src/jquery.js" to /js/src/jquery.js
	- var makeUrl = function(file) {
	-   return file.replace(/^public/,"");
	- }

	// under development we source individual files.
	// staticJs is only made available in dev mode.
	- for (var i = 0; i < staticJs.length; ++i) {
		script(src=makeUrl(staticJs[i]));
	- }

else
	// created by grunt tasks
	script(src='/js/main.min.js')

script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/gist-embed/1.3/gist-embed.min.js')
script.
	$(document).foundation();