if (mode === "dev")
	//- this is to make static loc "public/js/src/jquery.js" to /js/src/jquery.js
	- var makeUrl = function(file) {
	-   return file.replace(/^public/,"");
	- }



else
	//- created by grunt tasks
	script(src=staticHost+'/js/main.min.js')

//- http://blairvanderhoof.com/gist-embed/
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/gist-embed/1.3/gist-embed.min.js')
script.
	$(document).foundation();