footer#site-footer.row.clearfix(role='contentinfo')
	.ten.columns.phone-two
		ul.inline-list
			li
				a(href='/', title='Home') Home
			li
				a(href='/about', title='About') About
			li
				a(href='/posts', title='Posts') Posts
			li
				a.email(href='/contact', title='Contact') Contact
			li
				a(href='http://twitter.com/PhaniPasupula') @PhaniPasupula
	a.fi-arrow-up.size-24.footer-back-up(href='#', title='Back to the top')
