.row
    .two.columns.phone-two
      h1#site-title
        //
           none ATM 
    .ten.columns.phone-two.intro
      h1
        | Phani Pasupula
        a(href='http://twitter.com/pasupulaphani')  @pasupulaphani
      h2.hide-for-small
        span
          | Developer in Ruby, NodeJs enthusiast.
          br
          | Runner, Hicker, developer.
#left-nav.three.columns.phone-two.hide-for-small
  dl.sub-nav
    dd
      a#home.fi-home.size-36(href='/')
    dd
      //a.fi-rss.size-36(href="/posts.xml") N/A 
#header-nav.six.columns.phone-two
  dl.sub-nav
    dd(title='About')
      a(href='/about')
        img(src='images/about-icon.jpg')
        span About
    dd(title='Posts')
      a.fi-page.size-36(href='/posts')   
      a(href='/posts')
        span Posts
    dd
      a#sidebarButton.fi-page-search.size-36(href='#sidebar')
