
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width,initial-scale=1')

title= appName+' - '+pageTitle
meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
meta(name="description", content="This a blog written using MongoDB, ExpressJS, AngularJS, NodeJS")

link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')

meta(property='fb:app_id', content='APP_ID')
meta(property='og:title', content='#{appName} - #{title}')
meta(property='og:description', content="This a blog written using MongoDB, ExpressJS, AngularJS, NodeJS")
meta(property='og:type', content='website')
meta(property='og:url', content='phaninder.com')
meta(property='og:image', content='/favicon.ico')
meta(property='og:site_name', content='A blog')
meta(property='fb:admins', content='N/A')

link(rel='stylesheet', href='/css/src/foundation.css')
link(rel='stylesheet', href='/css/src/font.css')
link(rel='stylesheet', href='/css/src/icon.css')
link(rel='stylesheet', href='/css/src/app/app.css')
link(rel='stylesheet', href='/css/src/app/offcanvas.css')

script(src="/js/src/vendor/custom.modernizr.js")

//if lt IE 9
script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

if (session.isLoggedIn)
	script(src='//tinymce.cachefly.net/4.0/tinymce.min.js')
	script.
		tinymce.init({
			selector: "tinymceTextarea1",
			plugins: [
				"advlist autolink lists link image charmap print preview anchor",
				"searchreplace visualblocks code fullscreen",
				"insertdatetime media table contextmenu paste"
			],
			toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
		});

