header.intro
  .row
    .two.columns.phone-two.hide-for-small
    .large-8.medium-8.phone-two.small-10.intro
      .large-2.medium-2.small-3.columns
        #gavatar
          a.th.radius
            img(src='http://www.gravatar.com/avatar/da8ad3d7a783fda9082894427e6be2a9.png')
      .large-10.medium-10.small-12.columns
        h1
          | Phani Pasupula
          a(href='http://twitter.com/PhaniPasupula')  @PhaniPasupula
        h2.hide-for-small
          span
            | Developer in Ruby, NodeJs enthusiast.
            br
            | Runner, Hicker, Developer.
.row
  #left-nav.two.columns.phone-two.hide-for-small
    dl.sub-nav
      dd
        a#home.fi-home.size-36(href='/')
      dd
        //
          a.fi-rss.size-36(href="/posts.xml") N/A 
  #header-nav.large-10.medium-10.small-12.columns
    dl.sub-nav
      dd(title='About')
        a.fi-torso-business.size-36(href='/about')
          a(href='/about')
            span  About
      dd(title='Posts')
        a.fi-page-multiple.size-36(href='/posts')
        a(href='/posts')
          span  Posts
      dd(title='search')
        a#sidebarButton.fi-page-search.size-36(href='#sidebar')
