!!! 5
html(class="js no-touch svg inlinesvg svgclippaths no-ie8compat \
		js no-touch svg inlinesvg svgclippaths no-ie8compat", 
	lang='en', xmlns='http://www.w3.org/1999/xhtml', 
	xmlns:fb='https://www.facebook.com/2008/fbml', 
	itemscope='itemscope', itemtype='http://schema.org/Product')
	head
		include ./head
	body#page.off-canvas.hide-extras
		.container
			if (loginShow || session.isLoggedIn)
				include ./../users/login
			include ./header
			block content