
body.off-canvas { padding: 0; margin: 0; }

.top-bar label {
	padding-top: 10px;
	color: #FFFFFF;
}

.top-bar input, .top-bar .button {
	font-size: 0.77778rem;
	position: relative;
	top: 7px;
}

.top-bar input {
	height: auto;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
	font-size: 0.75rem;
}

.top-bar form, .top-bar input {
	margin-bottom: 0;
}

header.intro {
	width: 100%;
	line-height: 1.4;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	background: #f3f3f3;
	color: #57626b; 
	font-size: 100%;
}

header div {
	margin: 0.5em auto 0.5em;
}

header #gavatar a:hover {
	cursor: default;
}

header h1 {
	font-weight: bold;
	line-height: 1;
	font-size: 2.10em;
	color: #57626b; 
}

header h1 a, header h1 a:visited {
	font-size: 0.65em;
	font-weight: 500;
	cursor: pointer;
	color: #669ecc;
}

header h2 {
	margin: 0.5em auto 0.5em;
	line-height: 1.4;
	font-weight: 500;
	color: #999;
	font-size: 1.1em;
}

#left-nav #home {
	opacity: 0.6;
	color: #a3a9b8;
	visibility: hidden;
}

#left-nav a:hover {
	opacity: 1;
	color: #000000;
}

#left-nav #home.fix{
	visibility: visible;
	position: fixed;
	top: 0.5em;
	left: 15px;
	-webkit-transition: all,0.5s;
	-moz-transition: all,0.5s;
	-ms-transition: all,0.5s;
	-o-transition: all,0.5s;
	transition: all,0.5s;
}

#header-nav {
	color: #57626b;
	font: inherit;

}

#header-nav span {
	color: #a3a9b8;
	font-size: 1.25em;
	font-weight: 500;
	cursor: pointer;
	vertical-align: baseline;
}

#header-nav img {
	background-repeat: no-repeat;
	margin-right: 10px;
	width:30px; /* you can use % */
	height: auto;
}

#header-nav dd {
	margin-right: 17px;
}

#header-nav dd:hover, #header-nav a:hover {
	opacity: 0.6;
	color: #a3a9b8;
}

form #post-search-input {
	background: #fff url("/images/search_icon5.png") no-repeat 5px 5px;
	font-size: 100%;
	margin-top: 4px;
	padding: 5px 25px 5px 35px;
	width: 240px;
	font-weight: 300;
	color: #6d758f;
	border: 1px solid #d2d5de;
	outline: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.75),inset 0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.75),inset 0 2px 4px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0 1px 0 rgba(255,255,255,0.75),inset 0 2px 4px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.75),inset 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.75),inset 0 2px 4px rgba(0,0,0,0.1);
}

.posts h2 {
	font-size: 24px;
}

.posts h2 a {
	color: #696175;
	background: #fff;
	position: relative;
	padding: 5px 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none!important;
}

.posts ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.posts li:before { 
    content: "";
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

#post h1, #findme h1 {
	color: #2c251d;
	font-size: 2.2em;
	font-weight: 700;
}

#post h3 {
	font-weight: 500;
	color: #4a4235;
	line-height: 1.1;
	margin-top: -8px;
}

#raw-post-body {
	display: none;
}

textarea {
	width: 70%;
}

.focal-point {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.center {
text-align: center;
}

.container { width: 100%; }

.row { overflow: hidden; }

.row .row { overflow: visible; }

.paneled .container { overflow: hidden; }

.paneled .row { width: 100%; }

[role="main"]:before { content: " "; position: absolute; z-index: -1; top: 0; left: -100%; width: 100%; height: 100%; }

[role="complementary"], [role="main"], [role="findme"] { width: 100%; padding: 0 15px; display: block; position: relative; z-index: 1; -webkit-transition: 0.25s all ease-in; -moz-transition: 0.25s all ease-in; -o-transition: 0.25s all ease-in; transition: 0.25s all ease-in; }

.paneled [role="main"] { padding: 0; }

.page-panel { width: 100%; padding: 0 15px; -webkit-transition: 0.3s margin ease-in-out; -moz-transition: 0.3s margin ease-in-out; -o-transition: 0.3s margin ease-in-out; transition: 0.3s margin ease-in-out; background: #fff; }

#switchPanels { margin: 0 -15px; }

.hide-extras [role="complementary"] { display: block; }

[role="navigation"]#topMenu { -webkit-transition: 0.25s all ease-in; -moz-transition: 0.25s all ease-in; -o-transition: 0.25s all ease-in; transition: 0.25s all ease-in; }

[role="navigation"]#topMenu ul { margin-top: 0; }

[role="complementary"] { margin-left: -100%; width: 80%; float: right; z-index: 2; }

[role="main"] { margin-left: 0; float: right; z-index: 1; position: relative; }

.paneled [role="main"] { background: #fff; width: 500%; overflow: hidden; float: none; position: relative; left: 0; -webkit-transition: 0.15s all ease-in; -moz-transition: 0.15s all ease-in; -o-transition: 0.15s all ease-in; transition: 0.15s all ease-in; }

.page-panel { min-height: 400px; float: left; margin: 0; width: 20%; }

.active [role="complementary"] { margin-left: 0; }

.active [role="main"] { margin-right: -80%; }

.active-menu [role="navigation"]#topMenu { margin-top: 0 !important; }

#site-footer {
	border-top: 1px solid #e8ebf2;
	box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-khtml-box-shadow: inset 0 1px 0 #fff;
	-o-box-shadow: inset 0 1px 0 #fff;
	background: #fdfdfd;
	padding: 15px 30px;
	width: 38.75em;
	font-weight: bold;
	color: #9198ad;
	font-size: 12px;
}


@media all and (min-width: 768px) { 
	menu-button, .sidebar-button { display: none; }
	[role="complementary"] {margin-left: 0; float: right; padding: 0 15px; }
	[role="main"] { width: 80%; padding: 0 15px; }
	[role="findme"] { width: 85%; padding: 0 15px; float: right;}
	.paneled [role="main"] { width: 100%; padding: 0; background: #f4f4f4; left: 0 !important; }
	.page-panel { display: block; min-height: 800px; float: none; margin: 0; width: 100%; background: #f4f4f4; }
	.hide-extras [role="main"] { width: 85%; }
	.hide-extras [role="complementary"] { margin-left: -100%; }
	.active [role="complementary"] { margin-left: 0; }
	[role="navigation"]#topMenu { display: none; }
	.focal-point { width: 150%; height: auto; overflow: hidden; position: relative; right: 90px;}
	code { height: auto; overflow: hidden; position: relative;}
	header h1 {		margin: 0;	}
}

@media all and (max-width: 768px) {
	#site-footer .inline-list li { font-size: 17px; width: 30%;}
	.footer-back-up { font-size: 36px; position: absolute; right: 45px; bottom: 45px;}
	form #post-search-input {	width: 100%; }
	#sidebar .sub-nav { margin-left:auto; width:70%; }
	.posts h2 {	font-size: 17px; }
}

@media all and (min-width: 64.063em) { 
	header #gavatar {	margin-top: -3px;}
}

@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
/*this is for medium stuff exclusive*/
}

@media only screen and (max-width: 40.063em) {
	header.intro {
		padding: 0px 0; !important;
	}
	header div {
		margin: 0.5em 0.5em;
	}
	header #gavatar {
		position: relative;
		width: 55px; !important;
		left: -7px;
	}
	header h1 {
		font-size: 1.80em;
	}
}

p code, div code {
	margin-top: -25px;
}
.gist{
  margin: 15px 0 !important;
}

.gist table{
  border: none !important;
}
.gist-file{
  border: none !important;
}
 
.gist-meta{
  padding: 12px !important;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
	background-color: #e8e8e8;
	background-image: -moz-linear-gradient(#ffffff, #ffffff) !important;
	background-image: -webkit-linear-gradient(#ffffff, #ffffff) !important;
	background-image: linear-gradient(#ffffff, #ffffff) !important;
}
 
.gist-data{
	background-color: #ffffff !important;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}


#file-test1-js-LC1 {

}

/*this is to override default behaviour of hoveringon "top-bar"*/
.top-bar-login-section ul > li.active:hover { background: #222222; cursor: default; }
.top-bar-login-section ul > li:hover { background: #222222; }

#four04 {
	height: 250px;
}

dt.h5 {
	font-size: 17px;
	font-weight: bold !important;
}
