section#sidebar(role='complementary')
	nav#sideMenu(role='navigation')
		form
			.row
				.large-4.medium-6.columns
					input#post-search-input(type='text', placeholder='Search Posts')
					
				dl.sub-nav.row
					dd
						a#sidebarButton(href='#sidebar', style='visibility: hidden') Close
					dd
						a.tiny.alert.button(href='#') Search
	.row
		p Search is under construction