extends ../layout/top

block content
	script.
		function parsePostBody() {
			html = parse_html($("#raw-post-body").html());
			$("#post-body").append(html);
		}
	.row
		section(role='main')
			#post.row
				.large-10.columns
					h1= post.title
					p
					#post-body
					span= post.created.toGMTString()
					#raw-post-body= post.body
					p

					if (loginShow || session.isLoggedIn)
						include ./posts_admin
		include ./search
	include ../layout/bottom

	script.
		parsePostBody();