extends ../layout/top

block content
	script.
		function parsePostBody() {
			$("#raw-post-body").children("script").remove();
			post_body = $("#raw-post-body").text();
			post_html = $.parseHTML( post_body )
			$("#post-body").append( post_html );
		}
	.row
		section(role='main')
			#post.row
				.large-10.columns
					h1= post.title
					p
					#post-body
					span= post.created.toGMTString()
					#raw-post-body(style = 'display: none')= post.body
					p

					if (loginShow || session.isLoggedIn)
						include ./posts_admin
		include ./search
	include ../layout/bottom

	script.
		parsePostBody();