block content
	h1= title
	h4 500: An internal error occurred
	if (mode === 'dev' || mode === 'second' || mode === 'stage' || (typeof session != 'undefined' && session.isLoggedIn))
		p #{error}
	a(href='/') Take me to the homepage!