extends layout/top

block content
	.row
		section(role='main')
			#post.row
				.large-10.columns
					if !(posts && posts.length)
						p Nothing to disp ATM
					else
						ul.posts
							each post in posts
								li
									h2
										a(href="/posts/#{post.id}")= post.title

		include ./posts/search
	include layout/bottom